
    $grey-dark: #2E2E2E;
    $black: #000000;
    $grey: #9A9A9A;
    $grey-light: #E3E3E3;
    $red: #FF0000;
    $green: #25a400;
    $blue: #407AC5;
    $white: #FFFFFF;
    $white-subtle: #F5F5F5;



